<!--
Footer
-->
<footer class="page-footer {{ site.css }} darken-2">
    <div class="container">
        <div class="row">
            <div class="col l4 m6 s12">
                <h5 class="white-text">{{ site.title }}</h5>
                <p class="grey-text text-lighten-4">Building production-grade AI systems, cloud infrastructure, and data platforms at scale.</p>
            </div>
                       
            <div class="col l4 m6 s12">
                <h5 class="white-text">Quick Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{{ site.baseurl }}/#about">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ site.baseurl }}/#expertise">Expertise</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ site.baseurl }}/#work">Projects</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ site.baseurl }}/#writing">Writing</a></li>
                </ul>
            </div>

            <div class="col l4 m6 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/vrajakishore" target="_blank">GitHub</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/vrajakishore" target="_blank">LinkedIn</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://medium.com/@vrajakishore" target="_blank">Medium</a></li>
                    <li><a class="grey-text text-lighten-3" href="mailto:vrajakishore@github.com">Email</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2026 Vraja Kishore • <a class="grey-text text-lighten-4" href="https://github.com/vrajakishore/vrajakishore.github.io">View on GitHub</a>
        </div>
    </div>
</footer>
