<nav>
    <div class="nav-wrapper">
        <a href="{{ site.baseurl }}/" class="brand-logo">{{ site.title }}</a>
        <ul>
            <li><a href="{{ site.baseurl }}/#about">About</a></li>
            <li><a href="{{ site.baseurl }}/#experience">Experience</a></li>
            <li><a href="{{ site.baseurl }}/#expertise">Expertise</a></li>
            <li><a href="{{ site.baseurl }}/#writing">Writing</a></li>
            <li><a href="https://www.linkedin.com/in/mvrajakishore" target="_blank">LinkedIn</a></li>
        </ul>
    </div>
</nav>
