<header class="site-header">
    <div class="navbar-fixed">
        <nav class="{{ site.css }} darken-2 waves-effect waves-light">
            <div class="nav-wrapper">
               <div class="container">
                <a href="{{ site.baseurl }}/" class="brand-logo">{{ site.title }}</a>
                <ul id="nav-mobile" class="right side-nav">
                    <li><a href="{{ site.baseurl }}/#about">About</a></li>
                    <li><a href="{{ site.baseurl }}/#expertise">Expertise</a></li>
                    <li><a href="{{ site.baseurl }}/#work">Projects</a></li>
                    <li><a href="{{ site.baseurl }}/#writing">Writing</a></li>
                    <li><a href="{{ site.baseurl }}/about/">More</a></li>
                    <li><a href="https://github.com/vrajakishore" target="_blank">GitHub</a></li>
                </ul>
                <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
            </div>
            </div>
        </nav>
    </div>
</header>
