<nav>
    <div class="nav-wrapper">
        <a href="{{ site.baseurl }}/" class="brand-logo">{{ site.title }}</a>
        <ul>
            <li><a href="{{ site.baseurl }}/#about">About</a></li>
            <li><a href="{{ site.baseurl }}/#expertise">Expertise</a></li>
            <li><a href="{{ site.baseurl }}/#projects">Projects</a></li>
            <li><a href="{{ site.baseurl }}/#writing">Writing</a></li>
            <li><a href="https://github.com/vrajakishore" target="_blank">GitHub</a></li>
        </ul>
    </div>
</nav>
